/* .title { */
  /* /* background-color: #282c34; */
  /* min-height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* font-size:  calc(100px + 2vmin);  */
  /* color: red;
  font: helvetica; */  

/* } */

.heart-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.heart-btn img{
  width: 20px;
  height: 20px;
}

