.title {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.heart-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.heart-btn img{
  width: 20px;
  height: 20px;
}
